* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

nav {
    background-color: #EEEEEE;
    height: 60px;
    width: 100%;
    position: fixed;
}

nav * {
    display: inline-block;
    font-size: 25px;
    /* margin-top: 18px;
    margin-bottom: 18px; */
}

nav > * {
    position: relative;
    top: 15px;
    bottom: 15px;
    margin: 0;
}

nav h1 {
    float: left;
    margin-left: 20px;
}

nav ul {
    float: right;
}

nav a {
    text-decoration: none;
    margin-right: 20px;
}

main * {
    position: relative;
    left: 60px;
}

form {
    width: 40%;
    position: relative;
    top: 100px;
}

label {
    bottom: -10px;
    padding-left: 5px;
}

.search, .submit, td {
    border-style: solid;
    border-color: #E3E3E3;
    border-width: 2px;
    border-radius: 5px;
    height: 30px;
}
.search {
    width: 475px;
}

.search::placeholder {
    font-size: 20px;
    color: rgb(184, 184, 184);
    position: relative;
    top: 3px;
    left: 9px;
}

.submit {
    width: 30px;
    top: 15px;
    padding: 1px;
}

table {
    top: 140px;
    left: 120px;
    /* border-collapse: collapse; */
    height: 40px;
    border-spacing: 0;
}

td {
    padding-left: 15px;
    padding-right: 15px;
    left: 0;
    border-radius: 0;
    border-width: 1.5px;
}

.td-left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0;
}

.td-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0;
}

.td-middle {
    padding-left: 25px;
    padding-right: 25px;
}


